.wrapper_error {
   text-align: center;
   border: 1px solid #fff;
   color:#fff;
   width: 90%;
   margin: 0 auto;
   margin-top: 30px;
   font-weight: 600;
   background-color: #932323;
   border-radius: 5px;
   padding: 15px;
   .error_icon {
      font-size: 5em;
   }
}

@media screen and (min-width: 768px) {
   .wrapper_error {
      width: 60%;
   }
}
