.no_results{
   text-align: center;
   color:#7a7a7a;
   width: 50%;
   margin: 0 auto;
   margin-top: 30px;
   font-weight: 600;
   border-radius: 5px;
   padding: 1%;
   .icon_sweat {
      font-size: 3em;
   }
}

.box_issues {
   
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: stretch;
   align-content: stretch;
   margin: 10px 0;
   .total_count{
      width: 100%;
      padding: 0 10px;
   }
}

@media screen and (min-width: 768px) {
   .box_issues{
         flex-direction: row;
         flex-flow: row wrap;
   }
}
