.wrapper_comment {
   .comment_card{
      border: 1px solid #ebebeb;
      padding: 15px 20px;
      margin: 10px 0;
      overflow: hidden;
      background-color: #fff;
      border-radius: 5px;
      .comment_body{
         overflow: hidden;
      }
      .comment_footer {
         .date, .author {
            margin: 5px 10px;
            font-size: 0.9em;
         }
         .author {
            float: right;
         }
         .date {
            float: left;
         }
         
      }
   }
}
