.wrapper_comments {
   .problem {
      background-color: #fff;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      padding: 10px 20px;
      overflow: hidden;
      .issue_number {
         font-size: 1.1em;
         color: #a8a8a8;
      }
      .box_info{
         display:flex;
         flex-direction: column;
         flex-wrap: wrap;
         flex-flow: column wrap;
         justify-content: space-between;
         align-items: stretch;
         align-content: stretch;
         margin: 10px 0;
         .info{
            flex-grow: 2;
            text-align: center;
            padding: 4px;
            p{
               display: inline-block;
               margin: 5px 5px;
            }
            .closed, .open {
                color: #fff;
                padding: 5px 20px;
               border-radius: 5px;
            }
            .closed {
               background-color: #c60404;   
            }
            .open {
               background-color: #007800;
            }
         }
      }
   }
   h3 {
      margin: 20px 0 0 0;
   }
   .comment_section{
      font-size: 1.5em;
      margin-top: 50px;
   }
   .comment_card {
      background-color: #fffaeb;
   }
   .comment_html {
      padding: 5px;
      overflow: hidden;
      pre {
         background-color: #414141;
         color: white;
         padding: 10px;
         border-radius: 5px;
         overflow-x: auto;
      }
      a{
         color: #df0000;
         text-decoration: underline;
      }
      video {
         max-width: 100%;
         max-height: auto;
      }
   }
}

@media screen and (min-width: 768px) {
   .wrapper_comments .problem .box_info{
         flex-direction: row;
         flex-flow: row wrap;
   }
}
