.wrapper_header {
   padding: 10px 40px;
   margin: 0 0 35px 0;
   .title {
      display: inline-block;
      font-size: 2em;
   }
   .icon_brand {
      font-size: 3em;
      margin-right: 10px;
   }
}