@-webkit-keyframes rotating {
   from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes rotating {
   from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

.wrapper_loading {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background: rgba(0,0,0, 0.30);

   .content {
      position: relative;
      text-align: center;
      top: 50%;
      .icon_spinner{
         font-size: 3em;
         -webkit-animation: rotating 3s linear infinite;
         -moz-animation: rotating 3s linear infinite;
         -ms-animation: rotating 3s linear infinite;
         -o-animation: rotating 3s linear infinite;
         animation: rotating 3s linear infinite;   
      }
      .loading_text {
         font-weight: 600;
      }
   }  
}
